/* * falcon-common.dtsi  Grade SoM Base
 * Targets: falcon s1 series boards
 */

#include "imx8mp.dtsi"


/ {
    /* Explicit 8GB RAM */
    memory@40000000 {
        device_type = "memory";
        reg = <0x0 0x40000000 0x2 0x00000000>; 
    };

    /* Audio setup for NAU8822 Codec */
    sound-nau8822 {
        compatible = "simple-audio-card";
        simple-audio-card,name = "nau8822-audio";
        simple-audio-card,format = "i2s";
        simple-audio-card,bitclock-master = <&dailink_master>;
        simple-audio-card,frame-master = <&dailink_master>;
        simple-audio-card,cpu { sound-dai = <&sai3>; };
        dailink_master: simple-audio-card,codec {
            sound-dai = <&nau8822_codec>;
            clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
        };
    };
};

&sai3 {
    #sound-dai-cells = <0>;
    status = "okay";
};

/* MULTIMEDIA STACK */
&gpu_3d { status = "okay"; };    /* Vivante GC7000UL GPU */
&gpu_2d { status = "okay"; };    /* 2D Graphics Accelerator */
&vpu_g1 {
    status = "okay";
};

&vpu_g2 {
    status = "okay";
};

&vpu_vc8000e {
    status = "okay";
};

/*  INTERFACES */
&mipi_dsi { status = "okay"; };
&mipi_csi_0 { status = "okay"; };
&mipi_csi_1 { status = "okay"; };
&lcdif1 { status = "okay"; };
&lcdif2 { status = "okay"; };
&lcdif3 { status = "okay"; };

/*  I/O & BUSES  */
&i2c2 {
    status = "okay";
    clock-frequency = <400000>;
    
    nau8822_codec: nau8822@1a {
        compatible = "nuvoton,nau8822";
        reg = <0x1a>;
        clocks = <&audio_blk_ctrl IMX8MP_CLK_AUDIOMIX_SAI3_MCLK1>;
        clock-names = "mclk";
        #sound-dai-cells = <0>;
    };

    pcal6408a: gpio@21 {
        compatible = "nxp,pcal6408";
        reg = <0x21>;
        gpio-controller;
        #gpio-cells = <2>;
        /* WiFi Power Enable Logic */
        wifi_pwr_hog {
            gpio-hog;
            gpios = <0 0>;
            output-high;
            line-name = "wifi-pwr-en";
        };
    };
};

/* Storage */
&usdhc3 { bus-width = <8>; non-removable; status = "okay"; }; /* eMMC */
&usdhc1 { bus-width = <4>; non-removable; status = "okay"; }; /* WiFi */

/* USB */
&usb3_phy0 { status = "okay"; };
&usb3_0 { status = "okay"; dr_mode = "otg"; };
