CONFIG_EXPERT=y
# CONFIG_SGETMASK_SYSCALL is not set
# CONFIG_DEBUG_RSEQ is not set
# CONFIG_PC104 is not set
# CONFIG_SUSPEND_SKIP_SYNC is not set
# CONFIG_DPM_WATCHDOG is not set
# CONFIG_TRIM_UNUSED_KSYMS is not set
# CONFIG_SLUB_TINY is not set
CONFIG_ARCH_HAS_ZONE_DMA_SET=y
# CONFIG_CFG80211_CERTIFICATION_ONUS is not set
# CONFIG_PCIE_BUS_TUNE_OFF is not set
CONFIG_PCIE_BUS_DEFAULT=y
# CONFIG_PCIE_BUS_SAFE is not set
# CONFIG_PCIE_BUS_PERFORMANCE is not set
# CONFIG_PCIE_BUS_PEER2PEER is not set
# CONFIG_FIRMWARE_MEMMAP is not set
# CONFIG_TTY_PRINTK is not set
# CONFIG_GPIO_SYSFS is not set
# CONFIG_DRM_DEBUG_DP_MST_TOPOLOGY_REFS is not set
# CONFIG_DRM_DEBUG_MODESET_LOCK is not set
# CONFIG_DRM_FBDEV_LEAK_PHYS_SMEM is not set
# CONFIG_LOGO is not set
# CONFIG_SND_SOC_SOF_DEVELOPER_SUPPORT is not set
# CONFIG_SND_SOC_SDW_MOCKUP is not set
# CONFIG_RESET_SIMPLE is not set
CONFIG_MXC_GPU_VIV=y
# CONFIG_FORCE_NR_CPUS is not set
# CONFIG_DEBUG_FORCE_FUNCTION_ALIGN_64B is not set
# CONFIG_VMLINUX_MAP is not set
CONFIG_HAVE_ARCH_KCSAN=y
# CONFIG_KCSAN is not set
# CONFIG_DEBUG_MEMORY_INIT is not set
