[Unit]
Description=Wi-Fi Auto Connect Script
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/sh /usr/bin/wifi-autoconnect.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
